
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label>Ad</label>
                <input type="text" class="form-control" id="surveyName" />
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <textarea class="form-control" id="surveyDesc">   </textarea>
            </div>
            <div class="form-group">
                <label>Kategori</label>
                <select class="form-control" id="surveyCat">
                </select>
            </div>

            <div id="questions" class="row justify-content-start">
            </div>
        </div>
        <div class="card-footer">
            <button id="editButton" class="btn btn-primary">Kaydet</button>
            <a href="/Surveys" class="btn btn-secondary">Geri</a>
        </div>
    </div>
</div>

@section _scripts {
    <script>
        $(document).ready(function () {
            var apiBaseUrl = "@ViewBag.ApiBaseUrl";


            var token = localStorage.getItem("token");

            if (token == "" || token == null) {
                location.href = "/Login";
            }


            getCategories();
            getQuestions();
                

            //Bilgileri doldur
            $.ajax({
                url: apiBaseUrl + 'Surveys/GetSurveyListAllDetail/@ViewBag.SurveyId',
                type: 'GET',
                headers: {
                    "Authorization": "Bearer " + token
                },
                contentType: "application/json",
                success: function (data) {

                    $("#surveyName").val(data.name);
                    $("#surveyDesc").val(data.description);
                    $("#surveyCat").val(data.category.id);

                    $.each(data.questions, function (i, item) {
                        $("input:checkbox[value='"+item.id+"']").attr("checked","checked");

                        
                    });


                },
                error: function (e) {
                    console.log(e);
                }
            });



            function getCategories() {
                $.ajax({
                    url: apiBaseUrl + 'Categories',
                    type: 'GET',
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        $("#surveyCat").html("");

                        var opt = "";
                        $.each(data, function (i, item) {
                            opt += "<option value='" + item.id + "'>" + item.name + "</option>"
                        });
                        $("#surveyCat").html(opt);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
            function getQuestions() {
                $.ajax({
                    url: apiBaseUrl + 'Questions',
                    type: 'GET',
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    contentType: "application/json",
                    success: function (data) {
                        $("#questions").html("");

                        var checkBox = "";
                        $.each(data, function (i, item) {

                            checkBox += ' <div class="col-md-12"> <input type="checkbox" class="question" value="' + item.id + '" /> <label>' + item.text + '</label>  </div>'
                        });
                        $("#questions").html(checkBox);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }


            $("#editButton").on("click", function () {
                if ($('#surveyName').val().trim() === '' || $('#surveyDesc').val().trim() === '' || $('#surveyCat').val() === '') {

                    alert('Tüm alanlar doldurulmalıdır.');
                    event.preventDefault();
                }

                var obj = new Object();

                obj.id = @ViewBag.SurveyId;
                obj.name = $("#surveyName").val();
                obj.description = $("#surveyDesc").val();
                obj.categoryId = $("#surveyCat").val();
                obj.appUserId = $("#sessionUserId").val();

                $.ajax({
                    url: apiBaseUrl + 'Surveys',
                    type: 'PUT',
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (data) {  
                        saveQuestions();
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

            function saveQuestions() {

                var ajaxRequests = [];

                $.each($('input[type=checkbox]:checked'), function (i, item) {
                    var obj = new Object();
                    obj.surveyId = @ViewBag.SurveyId;
                    obj.questionId = $(this).val();
                    
                    // var survey = new Object();
                    // survey.AddedQuestionSurvey = obj;

                    var request = $.ajax({
                        url: apiBaseUrl + 'Surveys/AddedQuestionSurvey',
                        type: 'POST',
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        data: JSON.stringify(obj),
                        contentType: "application/json",
                        success: function (data) {

                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });


                    ajaxRequests.push(request);
                });


                $.when.apply($, ajaxRequests).always(function () {
                    alert("Başarılı");
                });
            }
        });
    </script>
}

