@{
    Layout = "_PageLayout";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">İletişim</h2>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    <h6>Phone</h6>
                </div>
                <div class="card-body">
                    <span>0538-654-6532</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h6>Email</h6>
                </div>
                <div class="card-body">
                    <span>burakeren15@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12764.03726917816!2d30.642985920376418!3d36.89012536721296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c391c4eb3bc819%3A0x29c30089f6e24174!2sAkdeniz%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1717170696913!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>